<h2>About Us</h2>
<p>Eat for Us came about </p>

<div id="carousel">
    <div id="left-arrow">
        <%= image_tag('https://upload.wikimedia.org/wikipedia/commons/8/85/Arrow_top_svg.svg', class: 'arrow') %>
    </div>
    <div>
        <%= image_tag('https://res.cloudinary.com/blockscloud/image/upload/v1502336122/105_4439_gjrvnd.jpg', class: 'about-img') %>
    </div>
    <div id="right-arrow">
        <%= image_tag('https://upload.wikimedia.org/wikipedia/commons/8/85/Arrow_top_svg.svg', class: 'arrow') %>
    </div>
</div>
