<h1>Welcome to the Calorie Calculator!</h1>
    <p>This program using the Mifflin St. Jeor equation to determine your daily caloric expenditure.</p>
    <div class="main-wrapper">
      <div id="userInformation">
        <fieldset class="sm">
          <legend>Gender</legend>
          <input type="radio" class="gender" name="gender" value="1"> Male<!--Male-->
          <input type="radio" class="gender" name="gender" value="0"> Female<!--Female-->
        </fieldset>
        <fieldset class="sm">
          <legend>Age</legend>
          <input type="text" name="age" value="">
        </fieldset>
        <fieldset class="sm">
          <legend>Height</legend>
          <input required type="text" name="ht-feet" value=""> feet
          <input required type="text" name="ht-inches" value=""> inches
        </fieldset>
        <fieldset>
          <legend>Weight</legend>
          <input required type="text" name="wt" value=""> pounds
        </fieldset>
        <fieldset class="med">
          <legend>Activity Level</legend>
          <input type="radio" name="activity" value="1"> Sedentary
          <input type="radio" name="activity" value="1.3"> Slighty Active
          <input type="radio" name="activity" value="1.6"> Somewhat Active
          <input type="radio" name="activity" value="2"> Seriously Active
        </fieldset>
        <fieldset class="med">
          <legend>Your Goal</legend>
          <input type="radio" name="goal" value="0"> Lose weight
          <input type="radio" name="goal" value="1"> Maintain weight
          <input type="radio" name="goal" value="2"> Gain weight
        </fieldset>
        <button type="button" class="calc" name="button">CALCULATE</button>
    </div>
    <button type="button" class="reset" name="button">RESET</button>
  </div>
  <div>
    <div id="info">

    </div>
    <div id="bmi">

    </div>
    <div id="bmi-class">

    </div>
  </div>
    <footer>
      <p>This project was built using jQuery</p>
      <p><a href="http://nicholasblock.com" target="_blank">Nicholas Block</a></p>
    </footer>
