<h2>Homepage</h2>
<%= link_to('Post a new article', articles_new_path) %>
<%= link_to('All articles', articles_path) %>
<div>
	<% if flash[:notice] %>
    <div class="notice" style="font-size: 1.5em; font-weight: bold; color: black;"><%= flash[:notice] %></div>
  <% end %>
</div>

<div>
	<h3>Tip of the Day:</h3>
	<p>Cut down on your sugar!</p>
</div>

<% if current_user %>
	<% @articles.each do |a| %>
		<%= a.title %>
	<% end %>
<% end %>
