<form id="farm-form" action="/zip" method="post">
	<fieldset>
	  <legend>Enter your Location: </legend>
	  <br>
	  <label for="zip">Zip: </label>
	  <input id="zip" type="text" name="zip" value="60614"/>
	  <br>
	  <label for="address">Address: </label>
	  <input type="text" name="address" value="2248 N Clark St."/>
	  <br>
	  <input type="submit" value="Search" />
	</fieldset>
</form>

<div id="farm-div"></div>