/*****COLOR VARIABLES*******/
$header-color: rgba(7, 29, 9, 0.76);
$light-foreground: rgba(226, 233, 233, 1);
$hover: rgba(236, 149, 34, 0.96);

header {
	background-color: $header-color;
	height: 200px;
	margin: 0;

.header-container {
	display: flex;
	flex-direction: column;
	
	width: 100%;

	figure {
		display: flex;
		justify-content: center;
		/*width: 100%;*/
	}

	nav {
		display: flex;
		justify-content: center;

		ul {
			list-style-type: none;
			padding: 0;

			li 	{
				float: left;
				padding: 5px;

				a {
					color: $light-foreground;
					text-decoration: none;
				}

				a:hover {
					color: $hover;
				}
			}
		}
	}

	.header-img {
		margin-top: 10px;
		width: 350px;
	}
}
}