/*****COLOR VARIABLES*******/
$header-color: rgba(7, 29, 9, 0.96);

header {
	background-color: $header-color;
	height: 250px;
	margin: 0;

	nav {

		ul {
			list-style-type: none;
			padding: 0;

			li 	{


				a {
					color: white;
					text-decoration: none;
				}
			}
		}
	}

	.header-img {
		width: 350px;
	}
}