/*****COLOR VARIABLES*******/
$header-color: rgba(7, 29, 9, 0.76);
$light-foreground: rgba(226, 233, 233, 1);
$hover: rgba(236, 149, 34, 0.96);

header {
	background-color: $header-color;
	
	height: 500px;
	margin: 0;

.header-container {
	display: flex;
	flex-direction: column;
	background-image: url("https://res.cloudinary.com/blockscloud/image/upload/v1539301352/Asset_1_i9l7pj.png");
	background-size:cover;
	background-position: 0px -50px;
	height: 500px;
	width: 100%;

	figure {
		display: flex;
		justify-content: flex-start;
		/*width: 100%;*/
		 figcaption {
			font-family: 'Mali', cursive;
			 margin: 10px 0 0 20%;
			 font-size: 1.25em;
		 }

		img {
			justify-content: flex-start;
			margin: 0;
		}
	}

	nav {
		display: flex;
		justify-content: center;

		ul {
			list-style-type: none;
			padding: 0;

			li 	{
				float: left;
				padding: 5px;

				a {
					color: $light-foreground;
					text-decoration: none;
				}

				a:hover {
					color: $hover;
				}
			}
		}
	}

	.header-img {
		margin: 25px 0 0 70px;
		width: 480px;
		
	}
}
}