* {
	margin: 0;
	padding: 0;
}

#main-container {
	background-color: white;
	box-shadow: 0 0 10px gray;
	height: 200px;
	margin: 25px auto;
	padding: 10px;
	width: 80%;
}

body {
	background-color: goldenrod;

	aside {
		display: inline-block;
		width: 25%;

		nav {
			margin-left: 12%;
			margin-top: 12%;

			ul {
				list-style-type: none;

				li {

					a {
						background-color: green;
						color: beige;
						display: block;
						margin: 15px 0;
						height: 35px;
						padding-top: 12px;
						text-align: center;
						text-decoration: none;
						text-shadow: 2px 2px black;
						width: 175px;
					}
				}
			}
		}
	}

	main {
		float: right;
		width: 75%;
	}

	footer {
		border-top: 2px solid black;
		clear: both;
		margin-top: 10%;
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			margin-top: 1%;
		}
	}
}