* {
	margin: 0;
	padding: 0;
}

#main-container {
	background-color: white;
	box-shadow: 0 0 10px gray;
	height: 200px;
	margin: 25px auto;
	padding: 10px;
	width: 80%;
}
#map-canvas {
   width: 400px;
   height: 400px;
}


body {
	background-color: goldenrod;

	header {
		border-bottom: solid 2px yellow;
		margin-bottom: 2%;
		.header-container {

			figure {
			display: flex;
			flex-direction: column;
			justify-content: center;

			img {
				margin: 0 auto;
			}
		}
		}

		figcaption {
			clear: both;
			color: white;
			height: 15px;
			text-align: center;
		}
	}

	aside {
		// background-color: white;
		display: inline-block;
		width: 25%;

		nav {
			margin-left: 15%;
			margin-top: 12%;

			ul {
				list-style-type: none;

				li {

					a {
						background-color: green;
						border-radius: 15px;
						box-shadow: 3px 3px 3px black;
						color: beige;
						display: block;
						letter-spacing: 1.5px;
						margin: 15px 0;
						height: 35px;
						padding-top: 13px;
						text-align: center;
						text-decoration: none;
						text-shadow: 2px 2px black;
						width: 175px;
					}
				}
			}
		}
	}

	main {
		float: right;
		width: 75%;

		ul#categories {
			list-style-type: none;

			 > li {
				font-style: bold;
				font-size: 2em;
				text-decoration: underline;
			}

			ul#articles {
				padding-left: 25px;


			}
		}
		section.article {
					
					p.body {
						text-indent: 30px;
						width: 70%;
					}
				}
	}

	footer {
		border-top: 2px solid yellow;
		clear: both;
		margin-top: 10%;
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			margin-top: 1%;
		}
	}
}

.wrapper {

}

.map-wrapper {
	margin: 0 auto;
	height: 100px;
	width: 70%;


	#top {
		width: 100%;
	}

}
	#bottom {

	}
	.leftside {
		float: left;
		width: 50%;
	}

	.rightside{
		float: right;
		width: 50%;
	}

	div {

	}