<h2>Category Homepage</h2>

<%= link_to('Post a new article', articles_new_path) %>
<br />
<ul id="categories">
	<% @categories.each do |cat| %>
		<li><%= cat.title %></li>
			<ul id="articles">
				<% cat.articles.each do |a| %>
					<li><%= a.title %><br />
					<%= a.author %></li>
				<% end %>
			</ul>
			<br />
	<% end %>
</ul>