<h2><%= @category.title %></h2>
<h3>Articles: </h3>
<ul>
	<% @category.articles.each do |a| %>
		<li>
			<image width='300px' src="<%= a.main_image %>"/> 
			<%= link_to "#{a.title}", category_article_path(category_id: @category.id, id: a.id) %>
		</li>
	<% end %>
</ul>