<div id="write"></div>

<script>
	POWERREVIEWS.display.render({
		api_key: 'fed11c72-3f22-4c01-9f07-733f7b63265d',
		merchant_group_id: '79061',
        locale: 'en_US',
		merchant_id: '583741',
		page_id: "1",
		components: {
			Write: 'write'
		}
		
		});
</script>